/* CSS */
body {
  background-color: #715821;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: arial;
  line-height: 1.4;
}

img {
  width: 90%;
  margin: 0 auto;
  display: block;
}

a {
  color: lightcoral;
  text-shadow: 1px 1px 2px black;
}

h1, h2 {
  font-family: serif;
  color: #ff6d6d;
  text-shadow: 1px 1px 2px black;
}

p {
  font-size: 1.1em;
}

.collapsible {
  color: white;
  background-color: #523801;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
}

.active, .collapsible:hover {
  background-color: black;
}

.content {
  background-color: #362c36;
  padding: 10px 50px;
  display: none;
  overflow: hidden;
}

table {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  word-wrap: normal;
  width: 70%;
  min-width: 400px;
}

th {
  text-shadow: 1px 1px 2px black;
}

.emptyrow td {
  padding-top: 5px;
}

.serveraddress {
  background-color: #d62a2a;
}

.master {
  background-color: black;
}
.adept {
  background-color: #43135d;
}
.novice {
  background-color: #33501F;
}


.masterbutton {
  all: inherit;
  width: 100%;
}

.masterbutton:hover{
  background-color: #474747;
}

.adeptbutton {
  all: inherit;
  width: 100%;
}

.adeptbutton:hover{
  background-color: #7e26ad;
}


.novicebutton {
  all: inherit;
  width: 100%;
}

.novicebutton:hover{
  background-color: #55644a;
}

button {
  width: 100%;
  cursor: pointer;
}

dialog {
  background-color:  #362c36;
  color: white;
  border-width: 2px
}

dialog p {
  padding: 0 10px;
}
