/* CSS */
body {
  background-color: #715821;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: arial;
  line-height: 1.4;
  padding: 10px;
}

img {
  width: 90%;
  margin: 0 auto;
  display: block;
}

a {
  color: lightcoral;
  text-shadow: 1px 1px 2px black;
}

td a {
  color: white;
}

h1, h2 {
  font-family: serif;
  color: #ff6d6d;
  text-shadow: 1px 1px 2px black;
}

p {
  font-size: 1.1em;
}

.collapsible {
  color: white;
  background-color: #523801;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
}

.active, .collapsible:hover {
  background-color: black;
}

.content {
  background-color: #362c36;
  padding: 10px 50px;
  display: none;
  overflow: hidden;
}

table {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  word-wrap: normal;
  width: 70%;
  min-width: 400px;
}

th {
  text-shadow: 1px 1px 2px black;
}

.emptyrow td {
  padding-top: 5px;
}

.serveraddress {
  background-color: #d62a2a;
}

.master {
  background-color: black;
}
.adept {
  background-color: #43135d;
}
.novice {
  background-color: #33501F;
}


.masterbutton {
  all: inherit;
  width: 100%;
  cursor: pointer;
}

.masterbutton:hover{
  background-color: #474747;
}

.adeptbutton {
  all: inherit;
  width: 100%;
  cursor: pointer;
}

.adeptbutton:hover{
  background-color: #7e26ad;
}


.novicebutton {
  all: inherit;
  width: 100%;
  cursor: pointer;
}

.novicebutton:hover{
  background-color: #55644a;
}

button {
  width: 100%;
  cursor: pointer;
}

dialog {
  background-color:  #362c36;
  color: white;
  border-width: 2px;
  text-align: center;
}

dialog p {
  padding: 0 10px;
}


#asynchronousnote {
border-style:dashed;
border-width:2px;
padding: 5px;
margin: 5px;
}

#sitelinks {
display: flex;
padding: 20px;
}

#sitelinks a {
color: lightcoral;
text-shadow: none;
text-decoration: none;
text-shadow: 1px 1px 2px black;
background-color: #322d1d;
border-style: inset;
display: flex;
padding: 20px;
flex: 1 1 33%;
justify-content: center;
text-align: center;
}

#sitelinks a:hover{
background-color: #0e3675;
}


.imageandtext {
  display: flex;
  margin-bottom: 10px;
}

.imageandtext p {
  flex: 1 1 40%;
  text-align: right;
  padding-right: 10px;
}

.imageandtext a {
  flex: 1 1 60%;
  object-fit: contain;
  object-position: top;
}
